.clear-button {
  margin: 0 16px;
}

.do-not-disturb:active {
  background-color: inherit !important;
}

.do-not-disturb-icon {
  color: rgba(255, 255, 255, 0.6);
  -st-icon-style: symbolic;
}

.hide-dot {
  color: transparent;
  width: 0;
}

.notification-count {
  color: rgba(255, 255, 255, 0.6);
}
